    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Acerca</h2>
              <br/>
                <p>Técnico en Fotocopiadoras con más de 30 años de experiencia en el rubro</p>
                <p>Especializado en linea Ricoh</p>
                <p>Operando actualmente para <a href="http://www.mycktrade.com/">MYCK TRADE S.A.</a></p>
                <br/>
              </div>
        </div>
    </section>
