<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-3">
					<h2>Contacto</h2>
				</div>
				<div class="col-lg-9">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="mailto:pablosanchezcopiadoras@gmail.com" class="btn btn-default btn-lg social-email"> 
  								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> pablosanchezcopiadoras@gmail.com
  							</a>
						</li>
						<li>
							<a href="tel:+54 911 5021 7536" class="btn btn-default btn-lg"> 
	  							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <span class="phone-prefix">+54 911</span> 5021 7536
	  						</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
